{% extends "layout.html" %}

{% block title %}
    review
{% endblock %}

{% block main %}

<h1>Review</h1>

<form action="{{ url_for('review') }}" method="post">
    <fieldset>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="user1" placeholder="username" type="text"/>
        </div>
        <div class="form-group">
            <button class="btn btn-default" type="submit" name="search">Search</button>
        </div> 
        <div class="form-group">
          <button class="btn btn-default" type="submit" name="refresh">Return to All Users</button>
        </div>
    </fieldset>
</form>
{% if session.searchUser %}
Displaying posts by {{ session.searchUser }}
{% else %}
Displaying posts made in the last 48 hours
{% endif %}
{% if data %}
<div class="panel-group" id="accordion">
{% for item in data %}
  <div class="panel {% if item.canRead == 'True' %} panel-success {% else %} panel-danger {% endif %}">
    <div class="panel-heading">
        <div>
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}")>{{item.title}}</a>
          </h4>
          <div align="right">
            <form action="{{ url_for('review') }}" method="post" align="right">
              {% if item.canRead == 'True'%}<button name="markUnreadable" type="submit" value="{{item.id}}">Mark Unreadable</button>
              {% else %}<button name="markReadable" type="submit" value="{{item.id}}">Mark Readable</button>
              {% endif %}
            </form>
          </div>
        </div>
    </div>
    <div id="collapse{{loop.index}}" class="panel-collapse collapse">
      <div class="panel-body">{{item.content}}
      <br><font size="1">Post made by {{ item.username }}</font>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% else %}
    <h3>No posts pending review.</h3>
{% endif %}

{% endblock %}