{% extends "layout.html" %}
{% block headerAdd %}
<!-- app's own JavaScript -->
<script src="{{ url_for('static', filename='search.js') }}"></script>

{% endblock %}

{% block title %}
    Search
{% endblock %}

{% block main %}

<form action="{{ url_for('doSearch') }}" id="execute">
    <fieldset>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="q" placeholder="Search" type="text"/>
        </div>
        <div class="form-group">
            <input type="checkbox" name="type" value="prof">Include Professors<br>
            <input type="checkbox" name="type" value="COS">Include Courses of Study<br>
        </div>
        <button id="searchSubmit">Search</button>
    </fieldset>
</form>

<div id="results"></div>

{% endblock %}