{% extends "layout.html" %}
{% block headerAdd %}
<script src="{{ url_for('static', filename='linkify.js') }}"></script>
{% endblock %}
{% block title %}
    Submit
{% endblock %}

{% block main %}
<form action="{{ url_for('submit') }}" method="post">
    <fieldset>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="title" placeholder="Title" type="text"/>
        </div>
        Content (Add URL, if applicable)
        <div class="form-group">
            <textarea class="form-control" rows="5" name="content" id="content" placeholder="Content" type="text"/></textarea>
        </div>
        <div class="form-group">
            <input class="form-control" name="keywords" placeholder="Separate keywords with ';'" type="text"/>
        </div>
        
        Popular Keywords: <br>
        
        <input type="checkbox" name="Free" value="Free"> Free<br>
        
        <input type="checkbox" name="Sports" value="Sports"> Sports<br>
        
        <input type="checkbox" name="Non_Academic" value="Non_Academic"> Non-Academic<br>
        
        <input type="checkbox" name="Academic" value="Academic"> Academic<br>
        
        <input type="checkbox" name="Fun" value="Fun"> Fun<br> <br>
        
        <div class="form-group">
            <button class="btn btn-default" type="submit" onClick="linkify()" id="submitContent">Submit</button>
        </div> 
    </fieldset>
</form>

{% endblock %}